<div class="col-md-6 table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Numero</th>
            <th>
                <button
                        type="button"
                        class="btn btn-primary btn-group-justified"
                        data-toggle="modal" data-target="#saveJugador"
                >Agregar</button>
            </th>

        </tr>

        <tr *ngFor="let item of items | paginate: { id: 'player_table', itemsPerPage: 7, currentPage: player }"
            (click)="selectClickedRow(item)" [class.active]="item.name == name">

            <td>{{item.name}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.number}}</td>
            <td ><div class="btn-group btn-block ">
                <button type="button" class="btn btn-danger right">Opciones</button>
                <button type="button" class="btn btn-danger right  dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-toggle="modal" data-target="#viewJugador">Ver</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#editJugador">Editar</a></li>
                    <li><a class="alert-warning" href="#" data-toggle="modal" data-target="#deleteJugador">Eliminar</a></li>
                </ul>
            </div></td>


        </tr>
    </table>

    <pagination-controls class="pagination justify-content-center"
                         (pageChange)="player = $event" id="player_table"
                         maxSize="9"
                         directionLinks="true"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"

    ></pagination-controls>
</div>




<person-save name_team="{{name_team}}"></person-save>
<person-delete></person-delete>
<person-edit></person-edit>
<person-view></person-view>