<div class="container">
    <h3>Equipos</h3>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar Equipo</button>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar un equipo</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input  type="text" [(ngModel)]="name_save_team"  [ngModelOptions]="{standalone: true}"
                                       class="form-control"
                                       placeholder="Ingrese nombre del equipo aquí">
                            </div>
                        </div>


                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveTeam()">Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <team-table [(id_name)]="id_team_select" [team_save_return]="teams_save_return"  >

        </team-table>

        <player id_team="{{id_team_select}}"></player>
    </div>

</div>
