<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="desktop.component.html">Championship football</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">
                    Inicio
                </a>
            </li>

            <li class="dropdown">
                <a href="desktop.component.html" class="dropdown-toggle" data-toggle="dropdown">
                    Paginas<span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="desktop.component.html">Pagina 1</a>
                        <a href="desktop.component.html">Pagina 2</a>
                    </li>
                </ul>
            </li>

            <li>
                <a routerLink="/heroes" routerLinkActive="active">Jugadores</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="desktop.component.html" class="glyphicon glyphicon-user">
                    <span>Registrarse</span>
                </a>
            </li>

            <li>
                <a href="desktop.component.html" class="glyphicon glyphicon-log-in">
                    <span>Iniciar Sesión</span>
                </a>
            </li>

        </ul>
    </div>

</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>