<div class="col-md-4 table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of items | paginate: {itemsPerPage: 10, currentPage:page, id: '1'};"
            (click)="selectClickedRow(item)" [class.active]="item.name == name_team_select">

            <td>{{item.id}}</td>
            <td>{{item.name}}</td>

        </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event" id="1"
                         maxSize="5"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"
                         screenReaderPaginationLabel="Pagination"
                         screenReaderPageLabel="page"
                         screenReaderCurrentLabel="You're on page">
    </pagination-controls>

</div>