<div class="col-md-2 table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>

        <tr (click)="selectClickedRow(item)" [class.active]="item.name == name_team_select  "
                *ngFor="let item of items |  paginate: { id: 'team_table', itemsPerPage: 10, currentPage: team }">

            <td>{{item.id}}</td>
            <td>{{item.name}}</td>

        </tr>
    </table>
    <pagination-controls class="pagination justify-content-center"
                         (pageChange)="team = $event" id="team_table"
                         maxSize="9"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"
                         screenReaderPaginationLabel="Pagination"
                         screenReaderPageLabel="page"
    ></pagination-controls>
</div>